.App {
  /* CSS HEX */
--pale-silver: #d8cbc7ff;
--golden-brown: #9a6d38ff;
--pine-tree: #1f271bff;
--slate-gray: #627c85ff;
--persian-plum: #70161eff;
}


.auth {
  display: flex;
  flex-direction: column;
  background: url(../src/hscroll.png);
  background-repeat: no-repeat;
}

.login-form {
  background-color: antiquewhite;
  margin: 30px;
  padding: 10px;
  max-width: fit-content;
  border-radius: 5px;
}

.signup-form {
  background-color: slategray;
  margin: 30px;
  padding: 10px;
  max-width: fit-content;
  border-radius: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: fit-content;
  border: 4px solid black;
  margin: 50px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.die {
  height: 100px;
  animation: infinite-spinning 3s;
  animation-iteration-count: infinite;
  flex-direction: row-reverse;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
