body {
  background: url(../src/assets/gates.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}


.App {

--pale-silver: #d8cbc7ff;
--golden-brown: #9a6d38ff;
--pine-tree: #1f271bff;
--slate-gray: #627c85ff;
--persian-plum: #70161eff;

}



.login-form {
  background-color: antiquewhite;
  margin: 30px;
  padding: 10px;
  max-width: fit-content;
  border-radius: 5px;
}

.signup-form {
  background-color: slategray;
  margin: 30px;
  padding: 10px;
  max-width: fit-content;
  border-radius: 4px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: fit-content;
  border: 4px solid black;
  margin: 50px;
  color: whitesmoke;
  opacity: 85%;
  border-radius: 10px;
  max-width: 80%;
  padding: 10px;
  display: block;
  background: url(../src/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: 0 20px 32px 0 var(--slate-gray);
}


.die {
  height: 100px;
  animation: infinite-spinning 3s;
  animation-iteration-count: infinite;
  flex-direction: row-reverse;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  background-color: var(--slate-gray);
  border-radius: 5px;
  margin: 20px;
  padding: 6px;
  display: flex;
  justify-content: space-around;
  max-width: 60%;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;

}
.navigation span {
  margin-left: 10px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.createchar-form {
  background-color: rgba(112, 128, 144, .85);
  max-width: 100%;
  padding: 10px;
  margin: 12px;
}

#name-input {
  margin-left: 4px;
}

#class-select {
  margin-left: 4px;

}
 #race-select {
  margin-left: 4px;
 }

 #submit-button {
  margin-left: 10%;
 }

 #delete-button {
  background-color: red;
 }

 #update-abilities-form {
  background-color: rgba(112, 128, 144, .85);
  color: white;
 }

 #char-and-stats {
  background-color: rgba(112, 128, 144, .85);
  color: white;
  width: 30%;
  border-radius: 12px;
  display: flex;
  margin: 0px 0px 40px 15px;
 }

 #abilities {
  margin-left: 60px;
 }

 #char-name {
  margin: 0px 0px 0px 10px;
 }

 #char-rc {
  margin: 0px 0px 0px 10px;
 }

 .scroller {
  width: 30%;
  height: 700px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  background-color: rgba(47, 79, 79, .6);
  border: 4px solid whitesmoke;
  border-radius: 2px;
  margin-left: 3%;
}

.list-header {
  color: whitesmoke;
  margin-left: 6%;
}

.collapsible {
  color: whitesmoke;
  background-color: darkslategray;
  max-width: 20%;
  margin: 12px;
  padding: 12px;
}

#ab-div {
  padding: 8px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: slategray;
  color: whitesmoke;
}
