.auth {
  display: flex;
  flex-direction: column;
  background: url(../src/hscroll.png);
  background-repeat: no-repeat;
}

.login-form {
  background-color: antiquewhite;
  margin: 30px;
  padding: 10px;
  max-width: fit-content;
  border-radius: 6px;
}

.signup-form {
  background-color: slategray;
  margin: 30px;
  padding: 10px;
  max-width: fit-content;
  border-radius: 5px;
}
